---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layout/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md")
const blogTitle: string = 'Astro Learning Blog'
---

<BaseLayout pageTitle={blogTitle}>
	<p>This is where I will post about my learnings</p>
	<p>checkout my post below</p>
	<ul>
		{allPosts.map(e => <BlogPost url={e.url} title={e.frontmatter.title}/>)}
	</ul>
</BaseLayout>



